<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-preview">
    <%= csrf_meta_tags %>

    <title><%= content_for(:title) %></title>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <%= render 'layouts/flash_messages' %>

    <%= content_tag(:div, nil, id: 'shopify-app-init', data: {
      api_key: ShopifyApp.configuration.api_key,
      shop_origin: @shop_origin || (@current_shopify_session.domain if @current_shopify_session),
      host: @host,
      load_path: params[:return_to] || home_path,
      jwt_expire_at: (jwt_expire_at if @current_shopify_session),
    } ) %>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript">
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
